extends layout
block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  h3.actions Actions Concierge
  hr
  .options
    div 
      a(href='/hotels') Hotels
    div 
      a(href='/cars') Cars
    div 
      a(href='/insurances') Insurances
    div 
      a(href='/tours') Tours
