extends layout

block content

  script(async defer src="https://apis.google.com/js/api.js"
          onload="this.onload=function(){};handleClientLoad()"
          onreadystatechange="if (this.readyState === 'complete') this.onload()")
  script(src='/javascripts/insurances.js')
  script(src='/scripts/image-to-base64/image-to-base64.min.js')
  button#signin-button(onclick="handleSignInClick()" value="Sign in") Iniciar Sesión
  button#signout-button(onclick="handleSignOutClick()" value="Sign in") Cerrar Sesión
  button#generatePdf() Generar PDF
  hr
  table.table.table-bordered
    thead
      tr
        th(scope='col') VOUCHER
        th(scope='col') DATE ISSUED
        th(scope='col') PRODUCT
        th(scope='col') BENEFICIARY
        th(scope='col') DATEOF BIRTH
        th(scope='col') ID Passport
        th(scope='col') Mr. Ms.
        th(scope='col') PHONE NUMBER
        th(scope='col') AGENT
        th(scope='col') CONTROL
        th(scope='col') AMOUNT
        th(scope='col') CREATE PDF
    tbody#tbody

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js')
